$text-primary-light-red: hsl(356, 100%, 66%);
$hover-background-primary-very-light-red: hsl(355, 100%, 74%);
$text-primary-very-dark-blue: hsl(208, 49%, 24%);

$text-white: hsl(0, 0%, 100%);
$text-footer-grayish-blue: hsl(240, 2%, 79%);
$text-body-very-dark-grayish: hsl(207, 13%, 34%);
$text-footer-very-dark-black-blue: hsl(240, 10%, 16%);

$background-gradient-nav: linear(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$background-gradient-body: linear(hsl(237, 17%, 21%), hsl(237, 23%, 32%));

$ff-overpass: "Overpass", sans-serif;
$ff-ubuntu: "Ubuntu", sans-serif;
